
.main-content-container-text-img, .main-content-item{
    display:flex;
    width:75%;
    margin: 70px auto;
    align-items:center;
    
}
.main-content-first-section{
    padding-top: 80px;
}
.main-title{
    font-family: 'Lexend', sans-serif;
    font-weight:bold;
    font-size: 42px;
    color:#1C1C1A;
    margin: 20px 0;
    
}
.main-subtitle{
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 30px;
    color:#1C1C1A;
    margin: 25px 0 5px 0;
    line-height: 1.2;
}
.main-subtitle strong{
    color:#E21779;
}

.main-text{
    font-family: 'Barlow', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color:#1C1C1A;
    margin: 5px 0 25px 0;
    line-height: 1.2;
    
}
.main-content-text-buttom{
    display: flex;
    flex-direction: column;
    align-items:left;
    width: 44%;
    margin-right:8%;
    justify-content: space-around;
    
}
.main-content-text{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    
}

.main-img-office{
    width: 48%;
    padding-top:60px;
    height:420px;
}
.main-buttom{
    width:0 auto;
    background:#080877;
    border:none;
    border-radius: 40px;
    padding:14px 35px;
    margin-top:10px;
    color: #F8F8F8;
    font-family: 'Lexend', sans-serif;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 400ms all;
    cursor:pointer;
    
}

.main-buttom:hover{
    background: #0c0ca8;
    transform:scale(1.1);
}


.main-content-link{
    font-family: 'Lexend', sans-serif;
    font-weight: 750;
    font-size: 24px;
    text-decoration: none;
    color:#E21779;

}
