.fourth-section-elements{
    display: flex;
    align-items: end;
}
.fourth-section-img-woman{
    width: 15%;
    position: relative;
    z-index: 10;
}
.fourth-section{
    width: 80%;
}
.fourth-section-form{
    background-color:#F8F8F8 ;
    padding:70px 60px 70px 60px;
    border-radius: 2em;
}

.all-inputs{
    display:flex;
    flex-direction:column
}
.fourth-section-input{
    margin:25px 70px;
    border-top: none  ;
    border-left: none;
    border-right: none;
    background-color:#F8F8F8 ;
    padding: 15px;
}
.fourth-section-input:focus{
    border:none;
}
.fourth-section-title{
    color: #E21779;
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    width: 60%;
    
}
.fourth-section-text-title{
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}
.confirmation-checkbox{
    margin: 25px 70px;
}
strong{
    font-weight: 600;
}
#privacy{
    width: 35px;
}
.text-checkbox-sec-strong{
    font-weight: 600;
    color: #080877;
}
.confirmation-checkbox{
    width: 50%;
    display: flex;
   
}
.confirmation-checkbox div{
    margin: 10px 0px 0px 5px;

}
.text-checkbox{
    color: #1C1C1A;
    font-family: 'Barlow', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px;
}
.form-button{
    margin: 0px 70px;
    display: flex;
    justify-content: center;
}
.form-button .leads-buttom{
    display:flex ;
    justify-content: center;
    width: 100%;
    padding: 15px
}
@media screen and (max-width:980px) {
    .fourth-section-elements{
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .fourth-section-img-woman {
        width:100%!important;
        display: flex;
        justify-content: center;
        
    }
    .fourth-section-img-woman img{
        width:64%!important;
        
    }
    .fourth-section-input, .confirmation-checkbox{
        margin: 20px 0px !important;
        width: 100%;
    }
    .form-button{
        margin: 0px;
    }
    .fourth-section-title{
        width: 100%;
        font-size: 34px;
    }
    .fourth-section-form{
        padding: none;
        margin: 0px;
    }
}
@media screen and (max-width:1630px){
    .fourth-section-img-woman{
        width: 25%;
    }
}